<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=500, initial-scale=1">
    <link rel="stylesheet" href="../libs/angular/angular-material.min.css">
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="admin.css">
    <title>Undercover Game Admin</title>
</head>
<body data-ng-app="Undercover">
    <div data-ng-controller="AdminController as admin">
        <div data-ng-class="admin.MessageStyle" data-ng-if="admin.ShowMessage">{{admin.Message}}</div>
        <div layout="row" class="roomInfo" data-ng-show="admin.UserStatus.InRoom">
            <p>
                You are currently in room {{admin.UserStatus.RoomID}}
            </p>

            <md-button class="md-raised md-warn" aria-label="Close" data-ng-if="admin.UserStatus.InRoom"
                       data-ng-click="">
                Close Room
            </md-button>
        </div>

        <md-button class="md-raised md-primary" aria-label="Close" data-ng-if="admin.ShowCreateRoom && !admin.UserStatus.InRoom"
                   data-ng-click="admin.createRoom()">
            Create Room
        </md-button>

        <div class="startGameConfig" data-ng-if="admin.UserStatus.InRoom
        && (admin.UserStatus.RoomStatus == admin.ROOM_STATUS.Created || admin.UserStatus.RoomStatus == admin.ROOM_STATUS.Ended)">
            <md-input-container class="md-block">
                <label>Number of Players</label>
                <input required type="number" step="any" name="total" ng-model="admin.GameConfig.TotalNum" min="{{admin.MinPlayerNum}}"
                       max="{{admin.MaxPlayerNum}}" />

                <div ng-messages="admin.GameConfig.TotalNum.$error" multiple md-auto-hide="true">
                    <div ng-message="min">
                        minimum {{admin.MinPlayerNum}} people
                    </div>

                    <div ng-message="max">
                        maximum {{admin.MaxPlayerNum}} people
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Number of Minority</label>
                <input required type="number" step="any" name="minor" ng-model="admin.GameConfig.MinorityNum" min="{{admin.MinMinority}}"
                       max="{{admin.TotalNum/2}}" />

                <div ng-messages="admin.GameConfig.MinorityNum.$error" multiple md-auto-hide="true">
                    <div ng-message="min">
                        minimum {{admin.MinMinority}} people
                    </div>

                    <div ng-message="max">
                        maximum {{admin.MaxPlayerNum}} people
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Majority Word</label>
                <input required name="majorWord" ng-model="admin.GameConfig.MajorityWord">
                <div ng-messages="admin.GameConfig.MajorityWord.$error">
                    <div ng-message="required">required</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Minority Word</label>
                <input required name="minorWord" ng-model="admin.GameConfig.MinorityWord">
                <div ng-messages="admin.GameConfig.MinorityWord.$error">
                    <div ng-message="required">required</div>
                </div>
            </md-input-container>

            <md-button class="md-raised md-primary" aria-label="Close" data-ng-if="admin.UserStatus.InRoom"
                       data-ng-click="admin.startGame()">
                Start Game
            </md-button>
        </div>

        <div class="gameMonitor">

            <div class="waitingPlayer" data-ng-if="admin.UserStatus.RoomStatus == admin.ROOM_STATUS.Waiting">
                <md-content class="md-padding" layout="column">
                    <h2 class="md-title">Waiting for players to join ({{admin.Players.length}}/{{admin.GameConfig.TotalNum}})...</h2>

                    <md-chips ng-model="admin.Players" readonly="true">
                        <md-chip-template>
                            {{$chip.Name}}
                        </md-chip-template>
                    </md-chips>

                    <md-progress-linear md-mode="determinate" value="{{admin.Progress}}"></md-progress-linear>
                </md-content>

            </div>

            <div class="gameBoard"
                 data-ng-if="admin.UserStatus.RoomStatus == admin.ROOM_STATUS.Waiting">
                <table>
                    <thead>
                        <tr>
                            <td>Id</td>
                            <td>Name</td>
                            <td>Word</td>
                            <td>Minority</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="player in admin.Players" class="{{player.IsMinority ? 'minority' : ''}}">
                            <td>{{player.ID}}</td>
                            <td>{{player.Name}}</td>
                            <td>{{player.Word}}</td>
                            <td>{{player.IsMinority ? "Yes" : ""}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <md-button class="md-raised md-warn" aria-label="Close"
                       data-ng-if="admin.UserStatus.InRoom
                       && (admin.UserStatus.RoomStatus == admin.ROOM_STATUS.Waiting || admin.UserStatus.RoomStatus == admin.ROOM_STATUS.Started)"
                       data-ng-click="admin.endGame()">
                End Game
            </md-button>
        </div>

    </div>

</body>
<script src="../libs/angular/angular.min.js"></script>
<!--<script src="../libs/angular/angular-messages.min.js"></script>-->
<script src="../libs/angular/angular-aria.min.js"></script>
<script src="../libs/angular/angular-animate.min.js"></script>
<script src="../libs/angular/angular-material.min.js"></script>
<script src="../app.js"></script>
<script src="../util.js"></script>
<script src="../constant.js"></script>
<script src="admin.js"></script>
</html>