<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=500, initial-scale=1">
    <link rel="stylesheet" href="../libs/angular/angular-material.min.css">
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="player.css">
    <title>Undercover Game Player</title>
</head>
<body data-ng-app="Undercover">
    <div data-ng-controller="ClientController as client">
        <div data-ng-class="client.MessageStyle" data-ng-if="client.ShowMessage">{{client.Message}}</div>
        <div layout="row" class="roomInfo" data-ng-if="client.UserStatus.InRoom">
            <p>
                You are currently in room {{client.UserInfo.RoomID}}
            </p>

            <md-button class="md-raised md-warn" aria-label="Close" data-ng-if="client.UserStatus.InRoom"
                       data-ng-click="">
                Leave Room
            </md-button>
        </div>

        <div class="joinRoomConfig" data-ng-if="!client.UserStatus.InRoom">
            <md-input-container class="md-block">
                <label>Room ID</label>
                <input required name="roomID" ng-model="client.UserInfo.RoomID"
                ng-pattern="/^[0-9]{4}$/" required>
            </md-input-container>

            <md-input-container class="md-block">
                <label>User Name</label>
                <input required name="userName" ng-model="client.UserInfo.Name"
                       ng-pattern="/^[a-zA-Z0-9\-_\.]+$/" required>
            </md-input-container>

            <md-button class="md-raised md-primary" aria-label="Join" data-ng-click="client.validatePlayer()">
                Join Room
            </md-button>
        </div>

        <div class="gameMonitor">
            <div class="waitingAdmin" class="md-padding" data-ng-if="client.UserStatus.RoomStatus == client.ROOM_STATUS.Created">
                <p>Waiting for admin setting up game... </p>
            </div>

            <div class="waitingPlayer" class="md-padding"
                 data-ng-if="client.UserStatus.RoomStatus == client.ROOM_STATUS.Waiting">
                <md-content layout="column">
                    <h2 class="md-title">Waiting for players to join ({{client.Players.length}}/{{client.GameConfig.TotalNum}})...</h2>

                    <md-chips ng-model="client.Players" readonly="true">
                        <md-chip-template>
                            {{$chip.Name}}
                        </md-chip-template>
                    </md-chips>

                    <md-progress-linear md-mode="determinate" value="{{client.Progress}}"></md-progress-linear>
                </md-content>

            </div>

            <div class="gameBoard md-padding"
                data-ng-if="client.UserStatus.RoomStatus == client.ROOM_STATUS.Waiting || client.UserStatus.RoomStatus == client.ROOM_STATUS.Started || client.UserStatus.RoomStatus == client.ROOM_STATUS.Ended">
                <table>
                    <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Word</td>
                        <td>Minority</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="player in client.Players" class="{{(client.UserStatus.RoomStatus == client.ROOM_STATUS.Ended && player.IsMinority) ? 'minority' : ''}}">
                        <td>{{player.ID}}</td>
                        <td>{{player.Name}}</td>
                        <td>{{player.Word != "" ? player.Word : "???"}}</td>
                        <td>{{(client.UserStatus.RoomStatus == client.ROOM_STATUS.Ended && player.IsMinority) ? "Yes" : ""}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="../libs/angular/angular.min.js"></script>
<!--<script src="../libs/angular/angular-messages.min.js"></script>-->
<script src="../libs/angular/angular-aria.min.js"></script>
<script src="../libs/angular/angular-animate.min.js"></script>
<script src="../libs/angular/angular-material.min.js"></script>
<script src="../app.js"></script>
<script src="../util.js"></script>
<script src="../constant.js"></script>
<script src="player.js"></script>
</html>